body{
  background: black;
  margin: 0;
  width: 100%;
  font-family: Helvetica,sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  opacity: 0.9;
}

a{
  color: seashell;
}

h2, h3, h4, h5{
  margin:10px
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
  z-index: 5;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid seashell;
  background: black;
}

#logo{
  width: 157px;
  height: 50px;
  margin-left: 10px;
}

.nav{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 10px;
}

.navItem{
  padding-left: 25px;
}

.content{
width: 100%;
display: flex;
flex-direction: column;
}

.mission{
  margin:0 auto;
  padding-top:100px;
  height:700px;
  display: flex;
  justify-content:center;
  align-content: center;
  background-image: url("../images/img-mission-background.jpg");
}

.missionHeader{
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  width: 1200px;
  margin: auto 0;
}

.featured{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.featureHeader{
  display: flex;
  flex-direction: column;
  width: 1050px;
  margin: 0 auto;
}


.features{
  width: 1050px;
  margin: 5px auto 0 auto;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;*/
}

.feature{
  margin:12.5px 25px;
}

.featureImage{
  width:300px;
  height: 200px;
}

.located{
  padding-top: 100px;
  width:1200px;
  margin: 0 auto;
  height: 500px;
  background-image: url('../images/img-locations-background.jpg');
  display: flex;
  flex-direction: column;
}

.locations{
  display:flex;
  align-items: center;
  justify-content: center;
}

.location{
  opacity: 1.0;
  width: 300px;
  margin: 5px 20px 0 20px;
  padding: 10px 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.info{
  height: 200px;
  width: 1200px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infoHeader{
  margin-bottom: 20px;
}

.contact h5{
  margin-bottom:30px;
}

footer{
  padding: 20px 20px 10px 20px;
  text-align: left;
}
